@import '~bootstrap/scss/bootstrap';



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background-color {
    background-color: rgb(88, 88, 88);
    color: white;
    height: 100vh;
    padding-top: 1rem;
}

.min-width {
    min-width: 170px;
}

.adjust {
    width: calc(100% - 250px);
}